@font-face {
  font-family: 'app-font';  /* project id 1833650 */
  src: url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.eot');
  src: url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.woff') format('woff'),
  url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1833650_w9x75sxkxip.svg#app-font') format('svg');
}

.app-font {
  font-family: "app-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfenxiang:before {
  content: "\e602";
}

.iconfenxiang1:before {
  content: "\e63f";
}

.iconshoucang:before {
  content: "\e61c";
}

.iconshoucang1:before {
  content: "\e60f";
}

.iconshare:before {
  content: "\e608";
}

.iconweibiaoti6:before {
  content: "\e63a";
}

.iconfenleiliebiao:before {
  content: "\e626";
}

.iconicon-test:before {
  content: "\e616";
}

.icondianzan:before {
  content: "\e609";
}

.iconyanjing:before {
  content: "\e68c";
}

.iconjianyi:before {
  content: "\e6d3";
}


